.background {
  position: absolute;
  background: url('https://lh3.googleusercontent.com/WmatS6zB0E4p95CjBBWUm7We0UZFScs48BnLc-Y32VRCTsOs5nfEjndp3YJ9_HRwd75BEYgD2vWI8CpIWnsQTH2Eh6WdDghH6onJZ8PmJm2IzmZOJirVpeJ-GFxC8ZWpP4s-U7WSgw=w2400') 
  no-repeat center top;
  background-size: cover;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.jumbotron {
  max-width: 75%;
  margin: auto;
  opacity: 0.5;
  text-align: center;
  color: black;
  opacity: 0.8;
}