.background {
    position: absolute;
    background: url('https://lh3.googleusercontent.com/IoByxQvuy1c7jH4XUvKcFD2nratDEQHtNtbDJIneQfE7NWXv0r8i8W5MdQtCM-tk-VCWhPuKQX8-1N23mbGYwdlqiAxaWLRP8vDI-7E9G6dysq--s7ALveQvf74grvjIUwir4FvReA=w2400') 
    no-repeat center top;
    background-size: cover;
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.welcome {
    background-color: rgba(255, 255, 255, 0.849);
    max-width: 75%;
    margin: auto;
}