<div class="background">
  <div class="gradient"></div>
</div>
<mat-card class="about">
  <h3>About Aspire</h3> 
  <p>
    We are a church that passionately pursues the presence of God and seeks to continually be led by the Holy Spirit. We are passionate about equipping believers to become empowered saints and to raise-up leaders who will influence cities, regions and nations for Kingdom purposes. Our heart is to foster vibrant families and a thriving community. We are generous people willing to do whatever it takes to see lives transformed and revival sweep the nations so that Jesus gets His full reward.
  </p>
</mat-card>