<div class="background">

  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- Map needs to be in the left -->
      <div class="map col-sm-12 col-md-8 col-lg-8">
  
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true">
  
          <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m, i)" [latitude]="m.lat"
            [longitude]="m.lng">
  
            <agm-info-window>
              <strong>{{m.name}}</strong>
            </agm-info-window>
  
          </agm-marker>
  
        </agm-map>
      </div>

      <div class="addresses col-sm-12 col-md-4 col-lg-4">
          <mat-card class="address-card">
              <h3>Aspire</h3>
              <p>925 Columbus Av. Waco, Texas 76701
              </p><br>
              <h3>Service Times:</h3>
              <p>Friday 7:00pm<br>
              Sunday 8:00am, 11:00am, 7:00pm
            </p>
          </mat-card>
      </div>
  </div>
</div>