agm-map {
    height: 480px;
    width: 500px;
    border: black;
    background-color: rgba(255, 255, 255, 0.849)
}

.map {
    top: 2em;
    left: 2em;
}

.addresses {
    /* position: absolute; */
    top: 2em;
    width: 100%;
    right: 2em;
}

.address-card {
    background-color: rgba(255, 255, 255, 0.849);
    max-width: 75%;
    margin: auto;
}

.background {
    position: absolute;
    top: 55px;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('https://lh3.googleusercontent.com/SPrIfQouMzCxo2pdqaCHvBICbSaSNyZ9MNOnFzLwJgopgKpxqAvtgAckS6PV1GBZ2XpqtDhD3BgyW0f9_UpUujgjG7IBMCiyZYmHsObsQMzLKUnLAWwtYnlzPwhBjq1bSgjQP1RPJw=w2400') 
    no-repeat center top;
    background-size: cover;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}