.background {
    position: absolute;
    background: url('https://lh3.googleusercontent.com/OTy0TK_VI2np3tBmNP3puQ8wNZh_EL7YkrbQ7NA73YHsFUgSBGQ57klwpMPeih5HfGiZImoHE9CYs4xeetndkcX2dUvpWTvdXWVUw6Q_y3ZFxp6j820TBJYfYeFnS4seCMX0V5oESg=w2400') 
    no-repeat center top;
    background-size: cover;
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.contact {
    background-color: rgba(255, 255, 255, 0.849);
    max-width: 75%;
    margin: auto;
}