<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
  #drawer class="sidenav" 
  fixedInViewport="false" 
  [attr.role]="!(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'" 
  [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Aspire Menu</mat-toolbar>
    <mat-nav-list>
      <ul>
        <li *ngIf="!userIsAuthenticated">
          <a mat-list-item color="primary" routerLink="/auth/signup">Signup</a>
        </li>
      </ul>
      <ul>
        <li *ngIf="!userIsAuthenticated">
          <a mat-list-item color="primary" routerLink="/auth/login">Login</a>
        </li>
      </ul>
      <ul>
        <li>
          <a mat-list-item color="primary" routerLink="/about">About</a>
        </li>
      </ul>
      <ul>
        <li>
          <a mat-list-item color="primary" routerLink="/ministries">Ministries</a>
        </li>
      </ul>
      <ul>
        <li>
          <a mat-list-item color="primary" routerLink="/whatwebelieve">What We Believe</a>
        </li>
      </ul>
      <ul>
        <li>
          <a mat-list-item color="primary" routerLink="/location">Find Us</a>
        </li>
      </ul>
      <ul>
        <li>
          <a mat-list-item color="primary" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <!-- <span>group-project</span> -->
      <mat-toolbar color="primary">
        <span>
          <a routerLink="/home" routerLinkActive="mat-accent">Aspire</a>
        </span>
          <a mat-button class='topBar' routerLink="/about" routerLinkActive="mat-accent">About</a>
        <ul class='topBar'>
          <li>
            <a mat-button routerLink="/ministries" routerLinkActive="mat-accent">Ministries</a>
          </li>
        </ul>
        <ul class='topBar'>
          <li>
            <a mat-button routerLink="/whatwebelieve" routerLinkActive="mat-accent">What We Believe</a>
          </li>
        </ul>
        <ul class='topBar'>
          <li>
            <a mat-button routerLink="/location" routerLinkActive="mat-accent">Find Us</a>
          </li>
        </ul>
        <ul class='topBar'>
          <li>
            <a mat-button routerLink="/contact" routerLinkActive="mat-accent">Contact Us</a>
          </li>
        </ul>
        <span class="spacer"></span>
        <ul class='topBar'>
          <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
          </li>
        </ul>
        <ul class='topBar'>
          <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
          </li>
        </ul>
        
      </mat-toolbar>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>