<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="!(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Aspire Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item color="primary" routerLink="/about">About</a>
      <ul>
        <li>
          <a mat-list-item color="primary" routerLink="/about">Find Us</a>
        </li>
      </ul>
      <ul>
        <li>
          <a mat-list-item color="primary" routerLink="/about">Contact Us</a>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>group-project</span> -->
      <mat-toolbar color="primary">
        <span>
          <a routerLink="/home" routerLinkActive="mat-accent">Aspire</a>
        </span>
        <span class="spacer">
          <a mat-button class='topBar' routerLink="/about" routerLinkActive="mat-accent">About</a>
        </span>
        <span class="spacer"></span>
        <ul class='topBar'>
          <li>
            <a mat-button routerLink="/ministries" routerLinkActive="mat-accent">Ministries</a>
          </li>
        </ul>
        <ul class='topBar'>
          <li>
            <a mat-button routerLink="/find" routerLinkActive="mat-accent">Find Us</a>
          </li>
        </ul>
        <ul class='topBar'>
          <li>
            <a mat-button routerLink="/contact" routerLinkActive="mat-accent">Contact Us</a>
          </li>
        </ul>
      </mat-toolbar>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>