.background {
    position: absolute;
    background: url('https://lh3.googleusercontent.com/sG9K7s2lTCLF8jjDlcx7zx0N_tuPdLfHze9HBtuUVylqGYKkOO4kPv25BnY3Gsr_dfqIzWk5gm881PSvodWWFpTaGgtU_AlmXAfWyZss_SWgrCG8Fab35PNk-b5zD5_EBY7zKEPefQ=w2400')
    no-repeat center top;
    background-size: cover;
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.beliefs {
    background-color: rgba(255, 255, 255, 0.849);
    max-width: 75%;
    margin: auto;
    z-index: -1;
    opacity: 0.8;
}

.beliefsstatement {
    font-size: 13px;
}