mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
.background {
  position: absolute;
  top: 55px;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('https://lh3.googleusercontent.com/a8cyOdHY2eAE4Z29ib6hmH5u7XyIscuq9X-2fgwPhk38fqqdlc5yDutnPNB3rVLTL-hbXQS4Dowu_myFwm1a5WT1qniqqBuTbRyTVis1Z8rkjvxbGb64Tph8-SlSZL3Mutq-pUeMUg=w2400')
    no-repeat center top;
  background-size: cover;
  content: '';
  z-index: -1;
  display: grid;
}
.signup-card {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.849);
  max-width: 75%;
  opacity: 0.8;
}
/* @media (max-width: 700px) {
  .background {
    background-position: left;
  }
  .gradient {
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  }
} */
